<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yh12.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh11.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh10.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh9.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1092</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh8.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1456</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh7.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh5.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh4.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh3.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1092</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh2.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1456</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yh1.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shun2.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hua2.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tong2.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>522</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>(1).png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>601</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>(2).png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>853</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>(3).png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1105</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>(4).png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1357</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>(5).png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1609</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>(6).png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>768</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tong.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>768</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hua.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>768</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shun.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>768</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zzg.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>131</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>768</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>tonghuashun-texiao0.png</string>
			<key>realTextureFileName</key>
			<string>tonghuashun-texiao0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>